<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Username</title>
</head>
<body>
    <h3>You are about to edit your username:<%=user.email%></h3>
    <form method="post" action="/user/<%=user.id%>?_method=patch">
      <textarea name="username" rows="10" cols="30"><%=user.username%> </textarea>
      <br><br>
      <input placeholder="enter password" type="password" name="password">
      <br><br>
      <button>Edit</button>
    </form>
</body>
</html>